body{                   /*背景样式*/
    background-attachment: fixed;
    background-color: rgb(60, 60, 60);
    padding-left: auto;
    padding-right: auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: 隶书;
    font-size: 20px;
}
a{                      /*页面上所有链接*/
    text-decoration: none;
    color: inherit;
}

.h1_title{          /*大标题*/
    text-align: center;
    font-weight: lighter;
    text-shadow: 1px 4px 12px #6B6B6B;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
    font-size: 50px;
}

#img_title {     /*图标*/
    width: 150px;
    margin-bottom: -2.5%;
    padding-right: -2%;
}
.p_divide{
    margin-bottom: 30px; 
    text-align: center;
}
.a_divide{     /*各个分类的链接样式*/
    font-size: 25px;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 10px; 
    margin: 1000;
}
.a_divide:hover{
    background-color: rgba(255, 255, 255, 1);
    color: rgb(60, 60, 60);
}

.my_card{               /*每个按钮*/
    background-color: transparent;
    width: 105%;
    padding: 0%;
    margin-bottom: 30px;
}

.link_cell{         /*单元样式*/
    padding: auto;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.link{          /*按钮链接*/
    display: inline-block;
}
.my_btn{           /*链接按钮*/
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border: solid 2px;
    width: 130px;
    height: 54px;
    margin-left: 0%;
    margin-right: -2%;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 隶书;
}
.my_btn:hover{         /*滑过时样式*/
    color: rgb(60, 60, 60);
    background-color: rgba(255, 255, 255, 1);
}

#author{            /*底部作者申明*/
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
}
.line{              /*底部线条*/
    border: solid 2px white;
    margin-bottom: 2%;
}
.other{             /*其他页面*/
    color: rgba(255, 255, 255, 1) ;
}
.other:hover{
    color: rgba(255, 255, 255, 0.4);
}

.copyright{
    text-align: center;
    font-size: 18px;
    padding-bottom: 4%;
}

.search_title{      /*搜索引擎标题*/
    color:rgb(60, 60, 60);
    font-size: 30px;
}

.search_btns{       /*搜索引擎按钮组*/
    color: rgb(60, 60, 60);
    background-color: transparent;
    border-color: rgb(60, 60, 60);
    border: solid 2px;
    width: 100px;
    height: 40px;
    margin-left: 0%;
    margin-right: -2%;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 隶书;
}
.search_btns:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgb(60, 60, 60);
}
#wd{        /*搜索引擎搜索框*/
    font-size: 30px;
}   
