/* 背景及大标题，图标样式 */
body{                   /*背景样式*/
    background-attachment: fixed;
    background-color: rgb(60, 60, 60, 1);
    padding-left: auto;
    padding-right: auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: 隶书;
    font-size: 20px;
}
a{                      /*页面上所有链接*/
    text-decoration: none;
    color: inherit;
}

.h1_title{          /*大标题*/
    text-align: center;
    font-weight: lighter;
    text-shadow: 1px 4px 12px #6B6B6B;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
    font-size: 50px;
}

#img_title {     /*图标*/
    width: 150px;
    margin-bottom: -2.5%;
    padding-right: -2%;
}