#content{ /*内容框*/
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.inputText{
    background-color: transparent !important;
    border-top: none;
    border-right: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8) !important;
}
.spanText{
    font-size: 20px;
}


.btnCell{         /*按钮单元样式*/
    padding: auto;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.myBtn{           /*按钮内容*/
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border: solid 2px;
    width: 130px;
    height: 54px;
    margin-left: 0%;
    margin-right: -2%;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 隶书;
}
.myBtn:hover{         /*滑过时样式*/
    color: rgb(60, 60, 60);
    background-color: rgba(255, 255, 255, 1);
}

.result{ /*结果计算按钮*/
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
}