#viewPassword{ /*密码显示框*/
    font-size: 30px;
}
#chackForm{ /*密码组成选择*/
    margin-top: 2%;
    margin-bottom: 2%;
}
.chackFormTitle{ /*密码组成选择标题*/
    font-size: 30px;
}

.text{ /*特殊字符文本*/
    color:  rgba(255, 255, 255, 1);
}
.spacial{ /*特殊字符框*/
    padding-bottom: 2px;
}
#copy{ /*复制按钮*/
    height: 40px;
    width: 100px;
    padding: auto;
    margin: auto;
}

#createBtn{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.btnCell{         /*按钮单元样式*/
    padding: auto;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.myBtn{           /*按钮内容*/
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border: solid 2px;
    width: 200px;
    height: 50px;
    margin-left: 0%;
    margin-right: -2%;
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 隶书;
}
.myBtn:hover{         /*滑过时样式*/
    color: rgb(60, 60, 60);
    background-color: rgba(255, 255, 255, 1);
}